
<div id="footer" class="container hyperlink-wrapper">
    <div class="row pt-4">
        <div class="col-sm-4">
            <ul class="contact-address-left">
                <a target="_blank" href="https://cbee.umbc.edu/"> Dept. of CBEE, UMBC</a> <br>
                <!--<a target="_blank" href="https://umbc.edu/"> University of Maryland Baltimore County (UMBC) </a> <br>-->
                1000 Hilltop Circle <br>
                Baltimore, MD 21250 <br>
                (<a target="_blank" href="https://g.page/UMBC_CBEE?share">Maps</a>, <a target="_blank" href="https://about.umbc.edu/visitors-guide/directions/">Directions</a>)

            </ul>

        </div>
        <div class="col-sm-4">
            <ul class="social-tags">
                <li>
                    <a href="https://github.com/ATOMSLab" class="fab fa-github" target="_blank"></a>
                </li>
                <li>
                    <a href="https://twitter.com/ATOMSresearch" class="fab fa-twitter" target="_blank" ></a>
                </li>
                <li>
                    <a href="mailto:tjo@umbc.edu" class="fas fa-envelope" target="_blank" ></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="contact-address-right">
                Tyler R. Josephson <br>
                Engineering Building <br>
                Office: ENG 323 <br>
                Lab: ENG 334
                <!--<li><a target="_blank" href="https://cbee.umbc.edu/"> Dept. of CBEE </a></li>
                <li>1000 Hilltop Circle, MD 21250</li>
                <li>
                    (<a href="https://g.page/UMBC_CBEE?share">Maps</a>, <a href="https://about.umbc.edu/visitors-guide/directions/">Directions</a>)
                </li>-->
            </ul>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/parallax.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
</body>
</html>




