</div>


<hr>
<div id="footer footer-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <ul class="social-tags">
                    <li>
                        <a href="https://github.com/ATOMSLab" class="fab fa-github" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ATOMSresearch" class="fab fa-twitter" target="_blank" ></a>
                    </li>
                    <li>
                        <a href="mailto:tjo@umbc.edu" class="fas fa-envelope" target="_blank" ></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/parallax.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
</body>
</html>




