body {
  font-family: 'Rubik', sans-serif;
}

.hyperlink-wrapper a {
  color: #007176 !important;
    text-decoration: underline;
}

.hyperlink-wrapper a:hover, .hyperlink-wrapper a:visited, .hyperlink-wrapper a:active {
  color: #000000 !important;
  text-decoration: none;
    background-color: lightgrey;
}

.paral {
    height: 450px;
    background-size: cover;
    background-position-y: inherit;
    background-position-x: center;
}


.pubimg {
    max-width: 100%;
}

@media (min-width: 992px) {
   .collapse {
       display: none !important;
   }
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chart {
  position: relative;
  width: 100%;
  height: 500px
}

.smalltxt {
  font-size: 0.9rem;
}

.mem-icon {
  height: 1em;
}

.navb-icon {
  height: 5em;
}

.navbar {
  margin-bottom: 20px;
  background-color: #003594;
}

.navbar-contact {
    /* margin-bottom: 20px; */
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.home-page {
  font-size: 1.2rem;
}

#footer {
  border-top: 1px solid #dddddd;
}
.contact-address-right {
  list-style-type: none;
  padding: unset;
    font-size: 0.8rem !important;;
    text-align: right !important
}

.contact-address-left {
    list-style-type: none;
    padding: unset;
    font-size: 0.8rem !important;;
    text-align: left !important
}

.social-tags {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: unset;
    font-size: 3rem
}

.social-tags li {
  float: left;
  padding: 0 10px;
}

.social-tags li a {
  color: #000000 !important;
}

.social-tags li a:hover {
  color : grey !important;
  background-color: transparent !important;
}

.social-tags .svg-inline--fa {
  font-size: 1.5rem;
}

.social-tags .footer-text-block {
  padding: 0 30px;
}

.members-container h4 {
  text-transform: uppercase;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.member-wrapper {
  margin:  45 px 0;
}

.member-information {
  list-style-type: none;
  padding: unset;
}

.member-wrapper .img-fluid {
  width: 100%;
}

@media screen and (max-width: 479px) and (min-width: 320px) {

  .navbar {
    padding: 0.5rem;
  }
  .navbar-brand {
    margin-right: unset;
  }
  .navb-icon {
    height: 4em;
  }

}