---
title: Jones Lab Members
layout: parallax
banner: /assets/img/lab_pic.jpg
permalink: /members
---

{% assign people = site.data.people | sort: 'startdate'%}
{% assign alumni = site.data.people | where_exp: "item", "item.enddate != raw" | sort: 'enddate' | reverse %}

<div class="member-wrapper">
    <h4>Principal Investigator</h4>
    {% for member in people %}
    {% if member.role == "Principal Investigator" %}
    {% include members.html member=member %}
    {% endif %}
    {% endfor %}
</div>

<div class="member-wrapper">
    <h4>Current Members</h4>
    {% for member in people %}
    {% if member.enddate == raw and member.role != "Principal Investigator" %}
    {% include members.html member=member %}
    {% endif %}
    {% endfor %}
</div>

<div class="member-wrapper">
    <h4>Alumni</h4>
    {% for member in alumni %}
    {% include alumni.html member=member %}
    {% endfor %}
</div>
