---
title: ATOMS Lab Members
layout: members
group: members
---
<p>
    Our lab welcomes applicants from any race, ethnicity, religion, national origin, gender identity, gender expression, caregiver and family commitments, political affiliation, sexual orientation, and eligible age or disability status.
    Furthermore, we are committed to maintaining a supportive and collaborative lab environment. <br>
    <strong>See more about <a target="_blank" href="/static/docs/ATOMS_Lab_Policies.pdf">our lab policies</a>.</strong>
</p>

<div class="member-wrapper">
    <h4>Principal Investigator</h4>
    {% for member in site.members %}
    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-7">
            <img class="img-fluid" src="{{member.image}}" alt="{{member.name}}" />
        </div>
    

        <div class="col-sm-5">
            <ul class="member-information">
                <li>
                    <strong>
                        {{member.name}}
                        <a target="_blank" href="{{member.pronunciation_link}}">
                            <img class="inline-block mem-icon" src="{{member.sound_image}}" />
                        </a>
                    </strong>
                </li>
                <li>
                    {% if member.pronouns %}
                    <em>{{member.pronouns}}</em>
                    {% endif %}
                </li>
                <li>
                    {{member.position1}}
                </li>
                <li>
                    {{member.position2}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>

                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}">{{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank"href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>

        </div>

        <div class="col-sm-12" style="text-align: justify; margin-top: 20px;">
            {{member.description | markdownify}}
        </div>

    </div>
    {% endfor %}
</div>

<div class="member-wrapper">
    <h4>Graduate Students</h4>
    {% for member in site.grads-phd %}
    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-3">
            {% if member.image %}
            <img class="img-fluid" src="{{member.image}}"  alt="{{member.name}}" />
            {% endif %}
        </div>
        <div class="col-sm-3">
            <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                </li>
                <li>
                    {% if member.pronouns %}
                    <em>{{member.pronouns}}</em>
                    {% endif %}
                </li>
                <li>
                    {{member.position}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>
                
                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank" href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>

        </div>
        <div class="col-sm-6">
            {{member.description | markdownify}}
            {% if member.projects %}
            <em>Current Projects:</em> {{member.projects | markdownify}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
    {% for member in site.grads-ms %}

    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-3">
            {% if member.image %}
            <img class="img-fluid" src="{{member.image}}"  alt="{{member.name}}" />
            {% endif %}
        </div>
        <div class="col-sm-3">
            <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                </li>
                <li>
                    {% if member.pronouns %}
                    <em>{{member.pronouns}}</em>
                    {% endif %}
                </li>
                <li>
                    {{member.position}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>

                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank" href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>
        </div>
            <div class="col-sm-6">
            {{member.description | markdownify}}
            {% if member.projects %}
            <em>Current Projects:</em> {{member.projects | markdownify}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="member-wrapper">
    <h4>Undergraduate Students</h4>
    {% for member in site.undergrads %}
    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-3">
            {% if member.image %}
            <img class="img-fluid" src="{{member.image}}"  alt="{{member.name}}" />
            {% endif %}
        </div>
        <div class="col-sm-3">
            <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                    {% if member.pronouns %}
                </li>
                <li>
                    <em>{{member.pronouns}}</em>
                </li>
                    {% endif %}

                <li>
                    {{member.position}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>

                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank" href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>
        </div>
            <div class="col-sm-6">
            {{member.description | markdownify}}
            {% if member.projects %}
                <li>
                    <em>Current Projects:</em> {{member.projects | markdownify}}
                </li>

            {% endif %}
    </div>
</div>
    {% endfor %}

    {% for member in site.new %}

    <div id="{{member.name}}" class="row pb-5">
            <div class="col-sm-3">
                {% if member.image %}
                <img class="img-fluid" src="{{member.image}}"  alt="{{member.name}}" />
                {% endif %}
            </div>
            <div class="col-sm-3">
                <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                    {% if member.pronouns %}
                </li>
                <li>
                    <em>{{member.pronouns}}</em>
                </li>
                {% endif %}

                <li>
                    {{member.position}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>

                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>
            </div>
            <div class="col-sm-6">
                {{member.description | markdownify}}
                {% if member.projects %}
                <li>
                    <em>Current Projects:</em> {{member.projects | markdownify}}
                </li>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="member-wrapper">
    <h4>Alumni</h4>
    {% for member in site.alumni-bottom %}
    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-6">
            <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                </li>
                <li>
                    {% if member.pronouns %}
                    <em>{{member.pronouns}}</em>
                    {% endif %}
                </li>
                <li>
                    {{member.position}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>
                
                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank" href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>

        </div>
        <div class="col-sm-6">
            {{member.description | markdownify}}
            {% if member.projects %}
            <em>Current Projects:</em> {{member.projects | markdownify}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    
    {% for member in site.grads-ms %}

    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-3">
            {% if member.image %}
            <img class="img-fluid" src="{{member.image}}"  alt="{{member.name}}" />
            {% endif %}
        </div>
        <div class="col-sm-3">
            <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                </li>
                <li>
                    {% if member.pronouns %}
                    <em>{{member.pronouns}}</em>
                    {% endif %}
                </li>
                <li>
                    {{member.position}}
                </li>
                <li>
                    <em>{{member.email}}</em>
                </li>

                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank" href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>
        </div>
            <div class="col-sm-6">
            {{member.description | markdownify}}
            {% if member.projects %}
            <em>Current Projects:</em> {{member.projects | markdownify}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- <div class="member-wrapper">
    <h4>High School Students</h4>
    {% for member in site.interns %}
    <div id="{{member.name}}" class="row pb-5">
        <div class="col-sm-3">
            {% if member.image %}
            <img class="img-fluid" src="{{member.image}}" alt="{{member.name}}" />
            {% endif %}
        </div>
        <div class="col-sm-3">
            <ul class="member-information">
                <li>
                    <strong>{{member.name}}</strong>
                </li>
                <li>
                    {% if member.pronouns %}
                    <em>{{member.pronouns}}</em>
                    {% endif %}
                </li>
                <li>
                    {{member.position}}
                </li>
                
                <li>
                    <em>{{member.email}}</em>
                </li>

                {% if member.website %}
                <li>
                    <a style="overflow-wrap: break-word;" target="_blank" href= "{{member.website}}">{{member.website}}</a>
                </li>
                {% endif %}

                {% if member.orcid %}
                <li>
                    <a target="_blank" href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                    <a target="_blank" href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
                </li>

                {% endif %}

                {% if member.linkedin %}
                <li>
                    <a target="_blank" href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                    <a target="_blank" href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
                </li>
                {% endif %}

                {% if member.scholar %}
                <li>
                    <a target="_blank" href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                    <a target="_blank" href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
                </li>
                {% endif %}

                {% if member.twitter %}
                <li>
                    <a target="_blank" href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                    <a target="_blank" href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
                </li>
                {% endif %}

                {% if member.github %}
                <li>
                    <a target="_blank" href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                    <a target="_blank" href= "http://github.com/{{member.github}}"> {{member.github}} </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-6">
            {{member.description | markdownify}}
            {% if member.projects %}
            <li>
                <em>Current Projects:</em> {{member.projects | markdownify}}
            </li>
            {% endif %}
        </div>
    </div>
    {% endfor %}   
</div> -->