---
title: ATOMS Lab Members
layout: members
group: members
---
<p>
    Our lab welcomes applicants from any race, ethnicity, religion, national origin, gender identity, gender expression, caregiver and family commitments, political affiliation, sexual orientation, and eligible age or disability status.
    Furthermore, we are committed to maintaining a supportive and collaborative lab environment. <strong>See more about <a href="/static/docs/ATOMS_Lab_Policies.pdf">our lab policies</a>.</strong>
</p>

<h4>Principal Investigator</h4>
{% for member in site.members %}
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id="{{member.name}}" class="row pb-4">

<div class="col-sm-8">
  <img class="img-fluid" style="width: 100%;" 
  src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" 
  onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; >
</div>
<!-- end of col-sm-12 -->

<div class="col-sm-4">
  <strong>{{member.name}}</strong>
  {% if member.pronouns %}
  <em>{{member.pronouns}}</em>
  {% endif %}
  {{member.position}}
    {{member.position2}}
  <em>{{member.email}}</em>
  {% if member.website %}
  <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a>
  {% endif %}
  {% if member.orcid %}
  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
  {% endif %}
  {% if member.linkedin %}
  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
  {% endif %}
  {% if member.UCSF %}
  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a>
  {% endif %}
  {% if member.scholar %}
  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
  {% endif %}
  {% if member.twitter %}
  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
  {% endif %}
  {% if member.github %}
  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a>
  {% endif %}
</div>

<div class="col-sm-8" style="text-align: justify;">
  {{member.description | markdownify}}
</div>

</div>
{% endfor %}

<h4>Graduate Students</h4>
{% for member in site.grads-phd %}
<div id="{{member.name}}" class="row pb-4">
    <div class="col-sm-3">
        {% if member.image %}
        <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"
        {% endif %}
    </div>
    <div class="col-sm-3">
        <strong>{{member.name}}</strong>
        {% if member.pronouns %}
        <em>{{member.pronouns}}</em>
        {% endif %}
        {{member.position}}
        <em>{{member.email}}</em>
        {% if member.website %}
        <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a>
        {% endif %}
        {% if member.orcid %}
        <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
        <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
        {% endif %}
        {% if member.linkedin %}
        <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
        <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
        {% endif %}
        {% if member.UCSF %}
        <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
        <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a>
        {% endif %}
        {% if member.scholar %}
        <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
        <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
        {% endif %}
        {% if member.twitter %}
        <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
        <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
        {% endif %}
        {% if member.github %}
        <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
        <a href= "http://github.com/{{member.github}}"> {{member.github}} </a>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <p class="text-justify">{{member.description | markdownify}}</p>
        {% if member.projects %}
        <em>Current Projects:</em> {{member.projects | markdownify}}
        {% endif %}
    </div>
</div>
{% endfor %}

{% for member in site.grads-ms %}

<div id="{{member.name}}" class="row pb-4">
    <div class="col-sm-3">
        {% if member.image %}
        <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"
        {% endif %}
    </div>
    <div class="col-sm-3">
        <strong>{{member.name}}</strong>
        {% if member.pronouns %}
        <em>{{member.pronouns}}</em>
        {% endif %}
        {{member.position}}
        <em>{{member.email}}</em>
        {% if member.website %}
        <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a>
        {% endif %}
        {% if member.orcid %}
        <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
        <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
        {% endif %}
        {% if member.linkedin %}
        <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
        <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
        {% endif %}
        {% if member.UCSF %}
        <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
        <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a>
        {% endif %}
        {% if member.scholar %}
        <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
        <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
        {% endif %}
        {% if member.twitter %}
        <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
        <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
        {% endif %}
        {% if member.github %}
        <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
        <a href= "http://github.com/{{member.github}}"> {{member.github}} </a>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <p class="text-justify">{{member.description | markdownify}}</p>
        {% if member.projects %}
        <em>Current Projects:</em> {{member.projects | markdownify}}
        {% endif %}
    </div>
</div>
{% endfor %}

<h4>Undergraduate Students</h4>
{% for member in site.undergrads %}
<div id="{{member.name}}" class="row pb-4">
    <div class="col-sm-3">
        {% if member.image %}
        <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"
        {% endif %}
    </div>
    <div class="col-sm-3">
        <strong>{{member.name}}</strong>
        {% if member.pronouns %}
        <em>{{member.pronouns}}</em>
        {% endif %}
        {{member.position}}
        <em>{{member.email}}</em>
        {% if member.website %}
        <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a>
        {% endif %}
        {% if member.orcid %}
        <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
        <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
        {% endif %}
        {% if member.linkedin %}
        <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
        <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
        {% endif %}
        {% if member.UCSF %}
        <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
        <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a>
        {% endif %}
        {% if member.scholar %}
        <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
        <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
        {% endif %}
        {% if member.twitter %}
        <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
        <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
        {% endif %}
        {% if member.github %}
        <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
        <a href= "http://github.com/{{member.github}}"> {{member.github}} </a>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <p class="text-justify">{{member.description | markdownify}}</p>
        {% if member.projects %}
        <em>Current Projects:</em> {{member.projects | markdownify}}
        {% endif %}
    </div>
</div>
{% endfor %}

<h4>Alumni</h4>
{% for member in site.alumni-bottom %}
<div id="{{member.name}}" class="row pb-5">
    <div class="col-sm-3">
        {% if member.image %}
        <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"
        {% endif %}
    </div>
    <div class="col-sm-3">
        <strong>{{member.name}}</strong>
        {% if member.pronouns %}
        <em>{{member.pronouns}}</em>
        {% endif %}
        {{member.position}}
        <em>{{member.email}}</em>
        {% if member.website %}
        <a style="overflow-wrap: break-word;" href= "{{member.website}}">{{member.website}}</a>
        {% endif %}
        {% if member.orcid %}
        <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
        <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a>
        {% endif %}
        {% if member.linkedin %}
        <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
        <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a>
        {% endif %}
        {% if member.UCSF %}
        <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
        <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a>
        {% endif %}
        {% if member.scholar %}
        <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
        <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a>
        {% endif %}
        {% if member.twitter %}
        <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
        <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a>
        {% endif %}
        {% if member.github %}
        <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
        <a href= "http://github.com/{{member.github}}"> {{member.github}} </a>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <p class="text-justify">{{member.description | markdownify}}</p>
        {% if member.projects %}
        <em>Current Projects:</em> {{member.projects | markdownify}}
        {% endif %}
    </div>
</div>
{% endfor %}

