{% include header.html %}



    <div class="row">
        <div class="col">
            {{ content }}
        </div>
    </div>

    <div class="row contact-block first-contact-block">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <address>
                        <h6 class="prof-name">Tyler R. Josephson, PhD </h6>
                        Assistant Professor, Dept of Chemical, Biochemical and Environmental Engineering <br>
                        Affiliate Faculty Member, Dept of Computer Science & Electrical Engineering <br>
                        University of Maryland Baltimore County <br>
                    </address>
                </div>
                <div class="col">
                    <address>
                        Office: 323 ENG <br>
                        Lab: 334 ENG <br>
                        1000 Hilltop Circle <br>
                        Baltimore, MD 21250 <br>
                        Email: tjo (at) umbc.edu
                    </address>
                </div>
            </div>
        </div>

    </div>

    <div class="row contact-block">
        <div class="col-12 contact-block-column">
            <h4>Directions to the lab</h4>
        </div>
        <div class="col-12">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=engineering%20building%20umbc&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                    <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
                </div>
            </div>
        </div>
    </div>

    <div class="row contact-block">
        <div class="col-12 contact-block-column">
            <h4>Land Acknowledgement Statement</h4>
        </div>
        <div class="col">
            <p>
                The ATOMS lab recognizes that the University of Maryland Baltimore County (UMBC) was established upon the tribal lands of the Piscataway Conoy and Susquehannock
                peoples. Over time, citizens of many more Indigenous nations have come to reside in this region. As settlers on this land, we want to recognize the historic, and
                ongoing, discrimination and violence inflicted upon Indigenous people in North America and humbly offer our respects to all past, present, and future Indigenous
                people connected to this place.
            </p>
        </div>
    </div>


    </div>
</div>


{% include footer.html %}



