{% include header.html %}

<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/QC.png">
    </div>
    <div class="col-sm-4">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/MS.png">
    </div>
    <div class="col-sm-4">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/ML.png">
    </div>
    <div class="col-sm-4">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/AI.png">
    </div>
  </div>

  <div class="row">
    <div class="col">
      {{ content }}
    </div>
  </div>
</div>
{% include footer.html %}