{% include header.html %}

<div class="container hyperlink-wrapper"">

  <div class="row">
    <div class="col-sm-4 offset-1">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/research_default1.png">
    </div>
    <div class="col-sm-4 offset-1">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/research_default2.png">
    </div>
    <div class="col-sm-4 offset-1">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/research_default3.png">
    </div>
    <div class="col-sm-4 offset-1">
      <img class="img-fluid mx-auto d-block" src="/static/img/research/research_default4.png">
    </div>
  </div>

  <div class="row" >
    <div class="col">
      {{ content }}
    </div>
  </div>
</div>
{% include footer.html %}